---
import HeroSection from "../components/basics/HeroSection.astro";
import Newsletter from "../components/basics/Newsletter.astro";
import MainLayout from "../layouts/MainLayout.astro";
import ProjectOverview from "../components/casestudy/ProjectOverview.astro";
---

<body>
  <MainLayout>
    <HeroSection
      labelText="CASE STUDIES SINGLE"
      headerText="Taxes & Efficiency"
      siteName="case"
    />
    <ProjectOverview />
    <Newsletter />
  </MainLayout>
</body>
