---
import HeroSection from "../components/basics/HeroSection.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<body>
  <MainLayout>
    <HeroSection
      labelText="CASE STUDIES SINGLE"
      headerText="Taxes & Efficiency"
      siteName="case"
    />
  </MainLayout>
</body>
