---
import CoreValues from "../components/CoreValues.astro";
import Scrolling from "../components/Scrolling.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Image from "../components/basics/Image.astro";
import EmployeeCards from "../components/employee/EmployeeCards.astro";
import "../styles/style.css";
import { ViewTransitions } from "astro:transitions";
import Newsletter from "../components/basics/Newsletter.astro";
import PercentageCircle from "../components/index/PercentageCircle.astro";
import Experince from "../components/index/Experince.astro";
import WhatToExpect from "../components/index/WhatToExpect.astro";
import Hero from "../components/index/Hero.astro";
import ContactUs from "../components/index/ContactUs.astro";

// const employeeData = await fetch(
//   "https://raw.githubusercontent.com/julievictoria98/frontend-design/main/resources/json/employees.json"
// ).then((res) => res.json());
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <ViewTransitions />
  </head>
  <body>
    <MainLayout>
      <Hero />
      <!-- {
		employeeData.map((employee) => (
			<div>
				<h2>{employee.name}</h2>
				<p>{employee.title}</p>
			</div>
		))} -->
      <WhatToExpect />
      <Scrolling />
      <CoreValues buttonColor="yellow" bgColor="black" fontColor="fontWhite" />
      <Experince />
      <Newsletter />
      <ContactUs />
    </MainLayout>
  </body>
</html>
