---
import EmployeeCards from "../components/employee/EmployeeCards.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<html lang="en">
  <body>
    <MainLayout>
      <EmployeeCards />
    </MainLayout>
  </body>
</html>
