---
import { ViewTransitions } from "astro:transitions";
import EmployeeCards from "../components/employee/EmployeeCards.astro";
import MainLayout from "../layouts/MainLayout.astro";
import HeroSection from "../components/basics/HeroSection.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <ViewTransitions />
  </head>
  <body>
    <MainLayout>
      <HeroSection
        labelText="TEAM"
        headerText="The Consultors"
        siteName="team"
      />
      <EmployeeCards />
    </MainLayout>
  </body>
</html>
