---
import  RoundButton from './RoundButton.astro'
import '../styles/style.css'
import { Icon } from 'astro-icon/components'

const valueData = await fetch("https://raw.githubusercontent.com/julievictoria98/frontend-design/main/resources/json/corevalues.json").then((res) => res.json());
---

<article class="full">
    <div class="core_text_flex">
        <div class="only_text_flex">
        <div class="text">
            <h1>{valueData.title}</h1>
            <h2>GROWING WITH OUT</h2>
            <p>{valueData.subtitle}</p>
        </div>
        <RoundButton color="red">Get in touch</RoundButton>
        </div>
        <ul class="card">
            {valueData.values.map((value) => (
                
                <li class="value_card_flex">
                <div class="icon">
                    <Icon name="layers"/>
               </div>
                <h3 class="bold">{value.title}</h3>
                <p>{value.description}</p>
                <button>Read more</button>
                </li>
            ))}
            
        </ul>
    </div>
</article>

<style>
    @layer components{
    article{
          --bg-color: var(--primary-color-3);
          padding-top: 5rem;
      /* & *:not(ul):not(ul *) {
        --font-color: var(--secondary-color-2);
} */
      .text :not(h2) {
  color: var(--secondary-color-2);
}
    }

  .text{
    *+*{
        margin-top: 1rem;
    }
  }

    
    ul{
        display:flex;
        flex-wrap: wrap;
        gap:4rem;
        align-items: flex-start;
        padding: 0;

        

    }

    ul > li {

     background-color: var(--secondary-color-2); 
    border-radius: 1rem;
    padding: 1.2rem; 
    
    box-sizing: border-box;
     max-width: 15rem; */
     align-self: flex-start
     
}

    .core_text_flex{
        display: flex;
        flex-direction: column;
        gap: 3rem;            
    }
    .icon{
        width:3rem;
    }

    .value_card_flex{
        display: flex;
        flex-direction: column;
        max-width: 20rem;
        gap: 1rem;
        padding: 2rem;
        align-items: flex-start;
    }

    .only_text_flex{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        align-items: flex-end;
        justify-content: space-between;
        & p{
            max-width: 35rem;
        }

    }

    h2{
        display: inline-block;
        background-color: var(--primary-color-1);
        border-radius: 25px;
        padding: 0.5rem 1rem;
        font-size: medium;

        
    }

    }
</style>