---
import '../styles/style.css'
const projectionsData = await fetch("https://raw.githubusercontent.com/julievictoria98/frontend-design/main/resources/json/projections.json").then((res) => res.json());
---

<article>
    <h2></h2>
    <p></p>
    <div>

    </div>
</article>