---
import "../styles/style.css";
const projectionsData = await fetch(
  "https://raw.githubusercontent.com/julievictoria98/frontend-design/main/resources/json/projections.json"
).then((res) => res.json());
---

<div class="grid-view">
  <h1>Financial Projections</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.
  </p>

  <ul class="full">
    {
      projectionsData.values.map((projection) => (
        <li>
          <h2 class="bold">{projection.title}</h2>
          <p>{projection.description}</p>
        </li>
      ))
    }
  </ul>
</div>

<style>
  @layer components {
    .grid-view {
      padding: 5rem 0;
      /* margin-bottom: 5rem; */

      & > * {
      }
    }

    ul {
      list-style: none;
      display: flex;
      padding: 0;
      flex-direction: row;
      gap: 10rem;
      align-items: flex-start;
      overflow-x: auto;
      grid-column: full;
      padding-left: 10rem;
    }

    ul > * {
      display: flex;
      flex-direction: column;
      padding: 2.75rem 2.1875rem;

      background-color: rgb(187, 187, 187);
      min-width: 25rem;
      border-radius: 1rem;
      margin-bottom: 2rem;
    }
  }
  p {
    color: #595566;
  }
</style>
