---

---

<div class="burgermenu">
  <div class="menu-btn">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</div>
<div class="globalmenu">
  <ul class="navigation">
    <li>
      <ul class="navi">
        <li><a href="/about">Home</a></li>
        <li><a>Case Study</a></li>
        <li><a href="/team">Team</a></li>
        <li><>About</></li>
      </ul>
    </li>
  </ul>
</div>

<style>
  .burgermenu {
    display: inline-flex;
    cursor: pointer;
  }

  a {
    text-decoration: none;
  }

  .menu-btn {
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 0.4rem;
  }

  .globalmenu {
    position: absolute;
    color: var(--primary-color-3);
    background-color: var(--primary-color-3);
    width: 100%;
    right: 0rem;
    top: 13%;
    display: none;
  }

  .line {
    width: 32px;
    height: 2px;
    /* border-radius: 4px; */
    background-color: var(--font-color);
  }
  .menu-btn.active {
    position: fixed;
  }

  .globalmenu.active {
    display: block;
    z-index: 2;
  }
</style>
<script>
  let menuBtn = document.querySelector(".menu-btn");
  let globalMenu = document.querySelector(".globalmenu");

  menuBtn.addEventListener("click", function () {
    menuBtn.classList.toggle("active");
    globalMenu.classList.toggle("active");
  });
</script>
