---
import RoundButton from "../RoundButton.astro";
import EmployeeCard from "./EmployeeCard.astro";

const EmployeeData = await fetch(
  "https://raw.githubusercontent.com/julievictoria98/frontend-design/main/resources/json/employees.json"
).then((res) => res.json());
---

<article class="grid-view">
  <h1>Meet Our Great Team</h1>
  <div class="flex">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam,
      quis nostrud exercitation.
    </p>
    <div>
      <RoundButton color="black">Join our team</RoundButton>
    </div>
  </div>
  <div class="main_flex">
    {
      EmployeeData.map((employee) => {
        return <EmployeeCard employee={employee} />;
      })
    }
  </div>
</article>

<style>
  @layer components {
    article > :nth-child(3) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: center;
      gap: 2rem;
      row-gap: 5rem;
      border-radius: 1rem;
    }

    .flex {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;
    }

    p {
      max-width: 75ch;
    }

    @media (max-width: 750px) {
      article > :nth-child(3) {
        justify-content: center;
      }

      .flex {
        flex-direction: column;
        gap: 1rem;
      }
    }
  }
</style>
