---
import BurgerMenu from "../components/employee/BurgerMenu.astro";
import RoundButton from "../components/RoundButton.astro";
import "../styles/style.css";
---

<header class="grid-view">
  <div class="header_content">
    <li>AskExperts</li>
    <li>
      <div class="sites">
        <p>Home</p>
        <p>Case Study</p>
        <p>Team</p>
        <p>About</p>
      </div>
    </li>
    <li>
      <div class="button">
        <RoundButton color="yellow">Login</RoundButton>
      </div>
    </li>
    <li class="burgermenu">
      <div class="burgermenu_div">
        <BurgerMenu />
      </div>
    </li>
  </div>
</header>
<main>
  <slot />
</main>
<footer class="grid-view">
  <ul>
    <li>AskExperts</li>
    <li>
      ©2022 Consultalk. All rights reserved | Terms of Service | Privacy Policy
    </li>
  </ul>
</footer>
<style>
  header {
    background-color: var(--primary-color-3);
    padding: 1rem;
    margin: 0;
    --font-color: var(--secondary-color-2);

    & *:is(.button) {
      --font-color: var(--primary-color-3);
    }
  }

  .header_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* & *:not(.button) {
      --font-color: var(--secondary-color-2);
      /* color: var(--secondary-color-2); */

    /* --font-color: var(--secondary-color-2);  */
  }
  .sites {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .burgermenu_div {
    margin-bottom: 1.2rem;
  }

  .button {
    scale: 0.8;
  }

  footer {
    background-color: var(--primary-color-3);
    --font-color: var(--secondary-color-2);
  }
  ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  ul li:nth-child(2) {
    padding-top: 0.5rem;
    border-top: 1px solid lightgray;
    width: 100%;
  }
  ul li:first-child {
    padding-bottom: 0.5rem;
  }

  .burgermenu {
    width: 3rem;
    display: none;
  }

  @media (max-width: 768px) {
    .sites {
      display: none;
    }

    .burgermenu {
      display: block;
    }
  }
  /* 
  @media (min-width: 768px) {
    .burgermenu {
      display: none;
    }
  } */
</style>
