---
import RoundButton from "../components/RoundButton.astro";
import "../styles/style.css";
---

<header class="grid-view">
  <div class="header_content">
    <li>Alt express</li>
    <li>
      <div class="sites">
        <p>Home</p>
        <p>Case Study</p>
        <p>Team</p>
        <p>About</p>
      </div>
    </li>
    <li>
      <RoundButton />
    </li>
  </div>
</header>
<main>
  <slot />
</main>
<style>
  header {
    background-color: rgb(81, 78, 78);
    padding: 1rem;
    margin: 0;
  }

  .header_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .sites {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .main_layout {
  }
</style>
