---
import BurgerMenu from "../components/basics/BurgerMenu.astro";
import Popup from "../components/index/Popup.astro";
import "../styles/style.css";
---

<header class="grid-view">
  <div class="header_content">
    <div>AskExperts</div>
    <div class="sites">
      <a href="/">Home</a>
      <a href="/casestudy">Case Study</a>
      <a href="/team">Team</a>
      <a href="/about">About</a>
    </div>
    <div class="button">
      <Popup />
    </div>
    <div class="burgermenu">
      <div class="burgermenu_div">
        <BurgerMenu />
      </div>
    </div>
  </div>
</header>
<main>
  <slot />
</main>
<footer class="grid-view">
  <ul>
    <li>AskExperts</li>
    <li>
      ©2022 Consultalk. All rights reserved | Terms of Service | Privacy Policy
    </li>
  </ul>
</footer>
<style>
  header {
    background-color: var(--primary-color-3);
    padding: 1rem;
    margin: 0;
    --font-color: var(--secondary-color-2);

    & *:is(.button) {
      --font-color: var(--primary-color-3);
    }
  }

  .header_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* & *:not(.button) {
      --font-color: var(--secondary-color-2);
      /* color: var(--secondary-color-2); */

    /* --font-color: var(--secondary-color-2);  */
  }

  a {
    text-decoration: none;
  }
  .sites {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .burgermenu_div {
    margin-bottom: 1.2rem;
  }

  footer {
    background-color: var(--primary-color-3);
    --font-color: var(--secondary-color-2);
    margin-top: 3rem;
  }
  ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  ul li:nth-child(2) {
    padding-top: 0.5rem;
    border-top: 1px solid lightgray;
    width: 100%;
  }
  ul li:first-child {
    padding-bottom: 0.5rem;
  }

  .burgermenu {
    width: 3rem;
    display: none;
  }

  @media (max-width: 768px) {
    .sites {
      display: none;
    }

    .burgermenu {
      display: block;
    }
  }
  /* 
  @media (min-width: 768px) {
    .burgermenu {
      display: none;
    }
  } */
</style>
